:root {
  --wc-col-primary: #013350;
  --wc-col-heading: #f49a26;
  --wc-col-text: #e7e7e7;

  --wc-base-fsize: 18px;
  --wc-transition-duration: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

body.webcheck {
  transition-duration: var(--wc-transition-duration);
  min-width: 250px;
}

body.webcheck.light {
  --wc-col-primary: #e7e7e7;
  --wc-col-heading: #f49a26;
  --wc-col-text: #013350;
}

:root {
  font-size: var(--wc-base-fsize);
  color: var(--wc-col-text);
}

html.webcheck,
body.webcheck {
  background-color: var(--wc-col-primary);
}

body.webcheck main {
  width: min(90%, 35rem);
  margin-inline: auto;
  padding-block: 1rem;
}

body.webcheck h1,
body.webcheck h2,
body.webcheck h3,
body.webcheck h4,
body.webcheck h5,
body.webcheck h6 {
  color: var(--wc-col-heading);
}

/*p,
span,
b,
i,
u,
a {
    color: var(--col-text);
}*/
