:root {
  --col-primary: #013350;
  --col-heading: #f49a26;
  --col-text: #e7e7e7;

  --base-fsize: 18px;
  --transition-duration: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

body {
  transition-duration: var(--transition-duration);
  min-width: 250px;
}

body.light {
  --col-primary: #e7e7e7;
  --col-heading: #f49a26;
  --col-text: #013350;
}

:root {
    font-size: var(--base-fsize);
    color: var(--col-text);
}

html,
body {
  background-color: var(--col-primary);
}

main {
  width: min(90%, 35rem);
  margin-inline: auto;
  padding-block: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--col-heading);
}

/*p,
span,
b,
i,
u,
a {
    color: var(--col-text);
}*/
